# Configuración y credenciales
config/db.php
.env

# Sistema
desktop.ini
.DS_Store
Thumbs.db

# Dependencias
/vendor/
node_modules/
tmp/
cache/

# Logs y backups
*.log
*.bak
*.tmp

# IDEs
.vscode/
.idea/
